* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 2000px;
}

.pai-relative {
  width: 250px;
  padding: 40px;
  position: relative;
  background-color: #3b8af9;
}

.filho-absolute {
  position: absolute;
  background-color: #f9673b;
  /* top: 70px;
  left: 130px; */
  bottom: 5px;
  right: 5px;
}

.div-fixed {
  background-color: #57e65a;
  position: fixed;
  padding: 10px;
  font-size: 36px;
  border-radius: 50%;
  right: 5px;
  bottom: 5px;
}

.div-sticky {
  z-index: 1;
  position: sticky;
  /* width: 100%; */
  top: 0;
  padding: 5px 10px;
  background-color: darkorange;
}

/* p {
  margin-top: 30px;
} */


