* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/* body {
  height: 2000px;
} */

header {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding-bottom: 15px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  justify-content: space-between;
}

.header-nav > nav > ul {
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header-nav button {
  padding: 5px 14px;
  border-radius: 6px;
  color: #0f0f0f;
  background-color: #f2f2f2;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.header-nav button:active {
  background-color: #bfbfbf;
}

.header-nav button.button-default {
  background-color: #0f0f0f;
  color: #fff;
}

header img {
  height: 50px;
}

.div-form {
  display: flex;
  gap: 15px;
}

.form-search {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.form-search > input {
  width: 100%;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #ccc;
  border-right: 0;
}

.form-search > input:focus {
  border: 1px solid blue;
}

.form-search > button {
  padding: 0 20px;
  font-size: 20px;
  border-radius: 0 20px 20px 0;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
}

.form-search > button:hover {
  background-color: #eeeeee;
}

.div-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.div-menu img {
  border-radius: 50%;
}

.menu-dropdown {
  display: none;
  padding: 10px;
  border-radius: 16px;
  position: absolute;
  top: 60px;
  width: 220px;
  background-color: #fff;
  box-shadow:0 1px 3px 0 #0000001a;
}

.menu-dropdown li {
  padding: 5px;
}

.menu-dropdown li:hover,
.hover {
  background-color: #f8f8f8;
}

.icons {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 20px;
}

.btn-criar {
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
}

.hover:hover {
  background-color: #eeeeee;
}

.btn-criar:active {
  background-color: blue;
  border: 1px solid blue;
}

.section-videos {
  display: flex;
  justify-content: end;
  padding: 25px;
  gap: 15px;
  flex-wrap: wrap;
}

.div-item-video {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.div-item-video img {
  width: 400px;
  border-radius: 10px;
}

.link-video {
  position: absolute;
  top:0;
  bottom: 0;
  width: 400px;
  z-index: 80;
  /* background-color: red; */
}

.div-img {
  position: relative;
}

.div-img > span {
  position: absolute;
  z-index: 5;
  background-color: #20252ab3;
  color: #fff;
  padding: 2px 5px;
  border-radius: 6px;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}


.div-desc-video h1 {
  font-size: 16px;
  margin-top: 5px;
  color: #0f0f0f;
}

.div-desc-video a, .div-desc-video span {
  display: block;
  color: #717171;
  font-size: 14px;
  margin: 5px 0;  
  position: relative;
  z-index: 99;
}
