* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 400px;
  /* justify-content: space-between ; */
}

header img {
  height:50px;
}

.form-search {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
}

.form-search > input {
  width: 100%;
}